/* GENERAL */ 

$grey1: #eaeaea;
$grey2: #f6f6f6;
$pink: #FF79DA;
$pinklight2: #ff79d9d0;
$pinklight: #f5edff;
$violet: #9356DC;
$violetlight: #9256dcb0;
$greendark: #008766;
$white: #FFFFFF;
$black: #000000;
$green: #99E2D0;

.logo {
    width: 150px;
}

.font-title-h2 {
    font-weight: 500;
}

.font-title-h3 {
    font-weight: 900;
    font-size: 24px;
}

.font-title-h4 {
    font-weight: bold;
    font-size: 16px;
}

input {
    background: #F1F1F1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.flex-end {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.content-center {
    text-align: center;
}

.column-around {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.column-between {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.border {
    border-radius: 20px;
}

.border-btn {
    border-radius: 30px;
}

.top-margin-section {
    margin-top: 50px;
}

.padding-section {
    padding: 40px;
}

.margin-section {
    margin-left: 20px;
    margin-right: 25px;
}

.bottom-padding {
    padding-bottom: 50px;
}

.paddingtop {
    padding-top: 40px;

}

.title-margin-left {
    margin-left: 20px;
}

.back-grey {
    background: $grey2;
}

.back-pink-light {
    background: $pinklight;
}

.back-black {
    background: #353535;
}

.bshadow {
    box-shadow: #cacaca 0px 3px 14px 0px;
}

.btnshadow {
    box-shadow: #afafaf 0px 3px 14px 0px;
}
.btnshadow:hover {
    box-shadow: #929292 0px 3px 14px 0px;
}

.size-icon {
    font-size: 20px;
    min-width: 20px;
}

.back-rate-color {
    background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
    background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-color {
    color: $violet;
}

/* HEADER */

.headerHome {
    margin-top: 20px;
    &__logo-box {
        text-align: center;
    }
    &__location {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1) inset;
        background: $grey1;
    }
    &__city {
        margin-left: 10px;
    }
    &__presentation{
        text-align: center;
        background: $grey2;
    }
    &__subtitle-presentation {
        width: 250px;
        white-space: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    &__text-presentation {
        margin-top: 20px;
    }
    &__btn {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        height: 20px;
        width: 200px;
        padding: 15px;
        background: linear-gradient( to top, $violet , $pink);
        &:hover {
            background: linear-gradient( to top, $violetlight , $pinklight2);
        }
    }
    &__btn-see-more {
        color: white;
    }
}

/* SECTION MAIN FUNCTIONING*/

.functioning {
    &__choices {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 20px;
    }
    &__choice {
        padding: 20px 25px;
        margin-top: 20px;
    }
         &__btn-functioning {
             width: 100%;
             padding: 20px 10px;
             margin-bottom: 20px;
             border: none; 
             font-weight: 900;
             font-size: 16px;
             
         }
     
         &__number {
             width: 12px;
             height: 12px;
             padding: 7px;
             margin-left: -30px;
             margin-right: 20px;
             border-radius: 25px;
             background-color: $violet;
             color: #ffffff;
             font-size: 14px;
     
         }
     
         &__text-choice {
             margin-right: auto;
             margin-left: 20px;
             font-weight: 900;
         } 
      
}

/* SECTION LIST RESTAURANTS*/

.restaurants {
    &__item {
        margin-top: 20px;
        width: 100%;
        background: $white;
    }
    &__new-select {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        background: $green;
        color: #139273;
    }
    
    &__details-item {
        padding: 5%;
        line-height: 20px;
    } 
}

.far, .fas {
    font-size: 20px;
}  



.restaurants__item-img1 {
    background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 20px 20px 0 0;

}
.restaurants__item-img2 {
    background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 20px 20px 0 0;

}
.restaurants__item-img3 {
    background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 20px 20px 0 0;

}
.restaurants__item-img4 {
    background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 20px 20px 0 0;

}

/* FOOTER */

.footer {
    &__menu {
        height: 180px;
        margin-left: 20px;
    }
    &__title {
        color: $white;
        font-weight: bold;
        font-size: 18px;
        padding-top: 20px;
    }
    &__menu-list {
        margin-top: 20px;
    }
    &__item{
        margin-top: 10px;
        color: $white;
    }
    & a {
        color: $white;

    }
    &__icon-margin {
        margin-right: 10px;
    
    }
    &__icon-margin2 {
        margin-right: 3px;
    }
}