/* GENERAL */

hr {
    width: 35px;
    height: 3px;
    margin-left: 0;
    background: $green;
    border: none;
}

.font-title-item {
    font-weight: 500;
    font-size: 17px;
}

.margin-choice {
    margin-top: 40px;
}


/* HEADER LOGO */
.headerCard {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    &__logo-box h1{
        text-align: center;
        margin-top:  -20px;
    }
    &__logo {
        width: 150px;
    }
}

/* HERO BANNER */

.hero {
    margin-top: 10px;
}

.hero__background-img1{
    background-image: url('../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 280px;
}
.hero__background-img2 {
    background-image: url('../images/stil-u2Lp8tXIcjw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 280px;
}
.hero__background-img3 {
    background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 280px;
}
.hero__background-img4 {
    background-image: url('../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 280px;
}

.cardTitle {
    @include flex-between;
    &__title {
        font-size: 26px;
    }
    &__icon {
        margin-right: 20px;
    }
}
/* MENU CARD */

#card {
    border-radius: 20px 20px 0 0;
    position: relative;
    margin-top: -50px;
    padding: 20px;
}

/* ENTRANCE CARD */

.card {
    animation: transMenu 1s ease-in-out;
    &__title {
        margin-top: 30px;
    }
    &__items {
        margin-top: 20px;
        @include column-between;
    }
    &__box-bar {
        position: relative;

    }
    &__item {
        border-radius: 15px;
        min-height: 50px;
        padding: 10px;
        margin-top: 20px;
        line-height: 1.5rem;
        background-color: #FFFFFF;
        animation: transItem 2s ease-out;
        animation-delay: 1s;
        opacity: 0;
        animation-fill-mode: forwards;
        @include flex-end;
        @include bshadow;

        &:hover {
            & > .card__price {
                transform: translateX(-250%);
                transition-duration: 1s;
                
            }
            & + .progresse{
                &> .progresse__bar {
                    transform: scaleX(1.2);
                    transform-origin: right;
                    opacity: 1; 

                }
                &> .progresse__icon-box {
                    -webkit-animation-name: slideInRight;
                    animation-name: slideInRight;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    width: 60px;
                    left: 65px;
                    &> .progresse__icon-rotate {
                        animation: iconRotate 1s ease-in;

                    }
                }
            }
        }
    }
    &__details-item {
        font-weight: 300;
        max-width: 80%; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__text-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
    }
    &__price {
        margin-right: 10px;
    }
}

.progresse {
    position: absolute;
    top: 0;
    right: 0px;
    height: 72%;
    // width: 60px;
    margin-bottom: 0;
    // margin-left: -60px;
    &__bar {
        height: 100%;
        background: #99E2D0;
        border-radius: 10px;
        padding: 10px;
        opacity: 0;
        transform: scaleX(0);
        transition: transform 1000ms cubic-bezier(.32, 0, .07, 1);
        overflow: hidden;

    }
    &__icon-box {
        position: relative;
        bottom: 47px;
        // left: 65px;
        opacity: 0;
    }
    &__icon-rotate {
        align-items: center;
        font-size: 25px;
        color: #FFFFFF;
    }
}

/* BUTTON VALID ORDERED */

.btn-ordered {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center; 


    &__submit {
        height: 40px;
        width: 180px;
        border: none;
        border-radius: 30px;
        background: linear-gradient( to top, $violet , $pink);
        color: $white;
        transition: background 1s ease-in-out;
        @include btnShadow;
        &:hover {
            background: linear-gradient( to top, $violetlight , $pinklight2);
            @include btnShadowHover;
        }
    }
}

/* RESPONSIVE TABLETTE */

@media screen and (max-width: 375px) {
    .card {
        &__item:hover {
            &> .card__details-item h3, p {
                max-width: 170px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        } 
    }
}
@media screen and (max-width: 440px) {
    .card {
        &__item:hover {
            &> .card__details-item p{
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
@media screen and(min-width: 1215px) {
    .card {
      
        &__details-item h3 {
            max-width: 100% !important;
            white-space: initial !important;
            overflow: initial !important;
            text-overflow: initial !important;
        }
        
    }
    
}

@media screen and(min-width: 1100px) {

    .desk-view {
        min-height: 380px;
    }

    .icon-size-desk {
        font-size: 20px;
    }

    .card-box {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .card {
        flex: 1;
        margin: 20px;
        &__details-item h3 {
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        } 
        &__item:hover{
            &> .card__details-item {
                & h3 {
                    max-width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & p {
                    max-width: 165px;
                }
            }
        }
    }

}