@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&family=Shrikhand&display=swap");
/* GENERAL */
.logo {
  width: 150px;
}

.font-title-h2 {
  font-weight: 500;
}

.font-title-h3 {
  font-weight: 900;
  font-size: 24px;
}

.font-title-h4 {
  font-weight: bold;
  font-size: 16px;
}

input {
  background: #F1F1F1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.flex-end {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content-center {
  text-align: center;
}

.column-around {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.column-between {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.border {
  border-radius: 20px;
}

.top-margin-section {
  margin-top: 50px;
}

.padding-section {
  padding: 40px;
}

.margin-section {
  margin-left: 20px;
  margin-right: 25px;
}

.bottom-padding {
  padding-bottom: 50px;
}

.paddingtop {
  padding-top: 40px;
}

.title-margin-left {
  margin-left: 20px;
}

.back-grey {
  background: #f6f6f6;
}

.back-pink-light {
  background: #f5edff;
}

.size-icon {
  font-size: 20px;
  min-width: 20px;
}

/* HEADER */
.headerHome {
  margin-top: 20px;
}
.headerHome__logo-box {
  text-align: center;
}
.headerHome__location {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1) inset;
  background: #eaeaea;
}
.headerHome__city {
  margin-left: 10px;
}
.headerHome__presentation {
  text-align: center;
  background: #f6f6f6;
}
.headerHome__subtitle-presentation {
  width: 250px;
  white-space: wrap;
  margin-left: auto;
  margin-right: auto;
}
.headerHome__text-presentation {
  margin-top: 20px;
}
.headerHome__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 0.5px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
}
.headerHome__btn-see-more {
  color: white;
}

/* SECTION MAIN FUNCTIONING*/
.bshadow {
  box-shadow: #dddddd 0px 6px 29px 0px;
}

.functioning__choices {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 20px;
}
.functioning__choice {
  padding: 20px 25px;
  margin-top: 20px;
}
.functioning__btn-functioning {
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 20px;
  border: none;
  font-weight: 900;
  font-size: 16px;
}
.functioning__number {
  width: 12px;
  height: 12px;
  padding: 7px;
  margin-left: -30px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #9356DC;
  color: #ffffff;
  font-size: 14px;
}
.functioning__text-choice {
  margin-right: auto;
  margin-left: 20px;
  font-weight: 900;
}

/* SECTION LIST RESTAURANTS*/
.restaurants__item {
  margin-top: 20px;
  width: 100%;
  background: #FFFFFF;
}
.restaurants__new-select {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  background: #99E2D0;
  color: #139273;
}
.restaurants__details-item {
  padding: 5%;
  line-height: 20px;
}

.far, .fas {
  font-size: 20px;
}

.restaurants__item-img1 {
  background-image: url("/public/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 20px 20px 0 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, a, li, input, div, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
